@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  display: inline-block;
  width: 0;
  animation: typing 2.5s steps(25, end) forwards;
}

@keyframes fade {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 1s ease-out both;
}

@keyframes pingSlow {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.2); opacity: 0; }
}

.animate-ping-slow {
  animation: pingSlow 1.8s infinite;
}
